<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="topContainer">
        <h1 class="title">Live Search Suggestion</h1>
    </div>
    <input type="text" id="searchBar" onkeyup="getData(this)">
    <script>
        function getData(e) {
            fetch('/fruitSearch', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    fruitExample: e.value
                })
            }).then(res => res.json()).then(data => console.log(data.foundValues))
        }
    </script>
</body>

</html>